body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:lightsteelblue;
}
.mainbox{
    width:400px;
    height:230px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0,0,0.2 black   ;
}

#quiz{
    display: block;
    align-items: center;
    justify-content: center;
}
.submit{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    color: white;
    margin-top: 50px;
}



.choices{
    display: flex;
    flex-direction: column;
    margin: 10px;

}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}